<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @wishes.each do |wish|%>
            <div class="swiper-slide">
              <div class="wish-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)" data-id="<%= wish.id %>">
                  <div class="wish-info">
                    <h3><%= wish.user.username %></h3>
                    <h4><%= wish.sport.name %></h4>
                    <p><%= wish.user.age %></p>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
