<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-4">
      <ul id="slides d-flex">
        <% @wishes.each do |wish|%>
          <div class="slide" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)" data-id="<%= wish.id %>">
            <li><%= wish.user.username %>
            <%= wish.sport.name %></li>
          </div>
        <% end %>
      </ul>
      <button class="" id="previous">No</button>
      <button class="" id="next">Yes</button>
    </div>
  </div>
</div>
