a {
  text-decoration: none !important;
}

body {
  background-color: #ffffff;
}

delete-button {
position: absolute;
width: 131px;
height: 48px;
left: 169px;
top: 426px;

background: #EC1A1A;
border: 8px solid #FFD1D1;
border-radius: 30px;
}
