a {
  text-decoration: none !important;
}

body {
  background-color: $light-gray;
  height: 100vh;
}

.content-wrapper {
  min-height: calc(100vh - 70px);
}

.navbar-padding {
  padding-top: 56px;
}
