// Specific CSS for your home-page
// .container-wrap {
// min-height: 100vh;
// display:flex;
// flex-direction: column;
// margin-top: 0;
// align-items: center;
// justify-content: center;
// }

div.p-2 h3 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 27px;
  color: #444444;
  font-weight: bold;
  text-align: center;

}

.banner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.red {
  color: $red;
  background: asset-url("stroke2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.btn-wish {
  border-radius: 15px
}

.home-content p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 20px;
}

h3 {
  margin-top: 40px;
  font-size: 26px;
  font-family: 'Noto Sans HK', sans-serif;
}

.sign-out-h1 {
  padding-top: 70px;
}
 .home-content p {
    font-size: 20px;
    padding: 0px 20px 0px 20px;
 }
