// Specific CSS for your home-page
// .container-wrap {
// min-height: 100vh;
// display:flex;
// flex-direction: column;
// margin-top: 0;
// align-items: center;
// justify-content: center;
// }

div.p-2 h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  color: #444444;
  font-weight: bold;
  text-align: center;

}

.btn-wish {
  border-radius: 15px
}

h3 {
  margin-top: 40px;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}

.home-sign-out {
  background-image: center;
  color: white;
  padding-bottom: 237px;
  padding-top: 237px;
  text-align: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.home-sign-in {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1488778578932-0f84d315fcae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1229&q=80);
  padding-bottom: 281px;
  padding-top: 102px;
  color: white;
  background-position: center;
  background-size: cover;
}

// .center-ok {
//   text-align: -webkit-center;
// }

// .new_wish {
//   width: fit-content;
// }
