// Specific CSS for your home-page
// .container-wrap {
// min-height: 100vh;
// display:flex;
// flex-direction: column;
// margin-top: 0;
// align-items: center;
// justify-content: center;
// }

div.p-2 h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #444444;
  font-weight: 400;
  text-align: center;
}

.btn-wish {
  border-radius: 15px
}

h3 {
  margin-top: 40px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

// .center-ok {
//   text-align: -webkit-center;
// }

// .new_wish {
//   width: fit-content;
// }
