// .matches-show {
//   padding-top: 70px;
//   min-height: calc(100vh - 70px);
// }

.card-current-match li {
  font-family: "Noto Sans HK", "sans-serif";
  color: #f15555;
  text-shadow: 1px 1px 3px rgb(0, 0, 0 / 10%);
}
