// .nav-pad {
//   padding-top: 70px;
//   min-height: calc(100vh - 70px);
// }

.delete-button {
position: absolute;
width: 131px;
height: 48px;
left: 169px;
top: 426px;

background: $red;
border: 8px solid #FFD1D1;
border-radius: 30px;
}
