<div class="arrow">
  <% toto = @user_wish&.sport&.name %>
  <div class="text-center select-box">
    <%= simple_form_for Wish.new, url: wishes_path, method: :post, data: { controller: "wish-dropdown" } do |f| %>
      <%= f.input :sport,
                  collection: Sport.all.pluck(:name),
                  prompt: ("Select a sport" unless toto),
                  selected: (toto if toto),
                  label: false,
                  error: 'Please select a sport to begin your journey',
                  required: false,
                  wrapper_html: { class: 'wish-form-group' },
                  input_html: { class: "home-dropdown #{"wish-index-dropdown" if controller_name == "wishes" && action_name == "index"}", data: { action: "input->wish-dropdown#submit", wish_dropdown_target: 'select' } } %>
      <i class="fas fa-angle-down"></i>
    <% end %>
  </div>
</div>
