<div class="banner">
  <div class="home-content">
    <% if user_signed_in? %>
      <div class='p-4 mb-4 text-center' >
        <h1>Get <mark class="red">motivated</mark> with us! Find a sport buddy today</h1>
      </div>
      <%= render 'shared/dropdown' %>
    <% else %>
      <h3 class='m-0'>Find your sport buddy now!</h3>
      <br>
      <br>
      <p>Match Point is the first sport app dedicated to women<br>
        Instantly get matched with people of your choice<br>
        Join them in the provided location</p>
    <% end %>
  </div>
</div>
