
<div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Join Match Point app for Women</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Get starting for free<small class="text-muted fw-light"></small></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, modi.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sign up today!</h4>
          </div>
          <div class="card-body">
            <p class="card-title pricing-card-title">Click below to get started<small class="text-muted fw-light">.</small></p>
            <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-block btn-primary" %>
          </div>
        </div>
      </div>
    </div>
