<%#= Il faut faire ce que Charlotte a dit, noté sur le cahier de Cricri %>
<div class="card-current-match">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-current-match-infos">
    <div>
      <%= render "recent_match" %>
     </div>
  </div>
</div>

<ul>
<% current_user.past_matched_wishes.each do |wish| %>
<div class="card-other-matches">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-other-matches-infos">
  <li><%= wish.sport.name %></li>
  <li><%= wish.user.username %></li>
  <li><%= wish.user.age %></li>

  </div>
</div>
<% end %>
</ul>
