.chat-button {
  text-align-last: center;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  padding: 5px 100px;
  border: none;
  margin-top: 20px;
  background-color: $red;
}

.chat-button-show {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    text-align: center;
    background-color: $red;
    border-radius: 15px;
    height: 45px;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 12px;
}
.wish-button {
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
}
.wish-button-match{
  background: $red;
  // border: 8px solid #FFD1D1;
  border-radius: 30px;
}
.btn-ghost {
  color: black;
  border: 1px solid #9d9b9be7;
  padding: 10px 44px;
  border-radius: 50px;
  background: #9d9b9be7;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 10px;
  align-items: center;
}

.btn-ghost:hover {
  opacity: 1;
}
.btn-flat {
  color: white;
  padding: 10px 44px;
  border-radius: 50px;
  background: $red;
  transition: background 0.3s ease;
  align-items: center;
}

.btn-flat:hover {
  background: $red;
  color: white;
}

.modal-button {
  background-color: $red;
  color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}
