.wish-card-category {
  background-size: cover;
  background-position: center;
  height: 52vh;
  width: 92vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: $red;
  font-size: 24px;
  font-weight: bolder;
  padding: 20px;
}

.wish-info {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.wish-info > img {
  height: 374px;
  width: 345px;
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.wish-card-details {
  width: 100%;
  padding: 2.125rem 1.25rem 2.625rem 1.25rem;
  // border-radius: 0 0 12px 12px;
}

.wish-username {
  /* position: absolute;
width: 257px;
height: 54px;
left: 13px;
top: 351px; */

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 18px; */
  /* or 150% */
  color: #ffffff;
}

.match-card-details {
  width: 100%;
  padding: 15px;
  h2 {
    padding-bottom: 15px;
  }
}

.card-current-match {
  overflow: hidden;
  background: white;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 16px;
    margin: 0;
    font-family: "Noto Sans HK", "sans-serif";
  }

  ul {
    padding: 0px 10px;
  }

  li {
    font-family: "Noto Sans HK", "sans-serif";
    color: $red;
  }

  .btn-flat {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    i {
      margin-right: 5px;
      font-size: 1.2rem;
    }
  }
}

.match-card-location {
  > i {
    font-size: 1rem;
  }
  > div {
    flex-grow: 1;
    i {
      opacity: 0.7;
    }
  }
}

.card-current-match .container {
  text-align: center;
  #chat-link {
    color: white;
  }
}

// .card-current-match .card-current-match-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;

//   ul {
//   padding: 0px 10px;
//   }
// }

.card-match {
  padding: 0px 10px;

  list-style-type: none;
  li {
    color: black;
  }
  ul {
    margin: 0px;
  }
}

.img-index {
  width: 100px;
  height: 100px;
}

.card-other-matches {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  // align-items: center;

  img {
    // height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  ul {
    padding: 0px 10px;
  }

  .card-other-matches-infos {
    padding: 16px;
  }
}
