.wish-card-category {
  background-size: cover;
  background-position: center;
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  color: $red;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 8px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
}

.wish-info {
  overflow: hidden;
  // background: white;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.wish-info > img {
  height: 374px;
  width: 345px;
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.wish-card-details {
  width: 100%;
	padding: 2.125rem 1.25rem 2.625rem 1.25rem;
	// border-radius: 0 0 12px 12px;
}

.wish-username {
/* position: absolute;
width: 257px;
height: 54px;
left: 13px;
top: 351px; */

font-style: normal;
font-weight: normal;
font-size: 18px;
/* line-height: 18px; */
/* or 150% */
color: #FFFFFF;
}

.card-current-match {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  }

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }

  ul {
  padding: 0px 10px;
  }
}

.card-current-match .card-current-match-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  ul {
  padding: 0px 10px;
  }
}

.card-match {
  padding: 0px 10px;

  list-style-type: none;
  li {
    color: black;
  }
  ul {
    margin: 0px;
  }
}

.img-index {
  width: 100px;
  height: 100px;
}

.card-other-matches {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
  // align-items: center;

  img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  }

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }

  ul {
  padding: 0px 10px;
  }

  .card-other-matches-infos {
  padding: 16px;
  }
}
