.wish-card-category {
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content:flex-start;
  align-items:flex-end;
  color: $red;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 70px;
}

.wish-info {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.wish-info > img {
  height: 374px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.wish-card-details {
  width: 100%;
	padding: 2.125rem 1.25rem 2.625rem 1.25rem;
	border-radius: 0 0 12px 12px;
}
.wish-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wish-info p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 5px;
}

.card-current-match {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  }

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }

  ul {
  padding: 0px 10px;
  }
}

.card-current-match .card-current-match-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  ul {
  padding: 0px 10px;
  }
}

.card-match {
  padding: 56px 10px;

  list-style-type: none;
  li {
    color: black;
  }
  ul {
    margin: 0px;
  }
}

.img-index {
  width: 100px;
  height: 100px;
}

.card-other-matches {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 15px;
  border-radius: 10px;
  // align-items: center;

  img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  }

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }

  ul {
  padding: 0px 10px;
  }

  .card-other-matches-infos {
  padding: 16px;
  }
}
