.wish-dropdown {
  height: 56px;
  text-align-last: center;
  border-radius: 20px;
  color: $gray;
  font-weight: 700;
  border: none;
}

.wish_sport {
  margin: 0px;
}

.wish-form-group {
  z-index: 9999;
  padding: 15px;

}
