.home-dropdown {
  font-family: "Noto Sans HK", sans-serif;
  height: 56px;
  text-align-last: center;
  border-radius: 20px;
  color: $gray;
  font-weight: 700;
  border: none;
  margin: 0px;
  -webkit-appearance: none;
  line-height: 2;
}


#page-form #new_wish {
  position: relative;

  i {
    position: absolute;
    right: 83px;
    top: 23px;
    color: $red;
    pointer-events: none
  }
}

#new_wish {
  position: relative;

  i {
    position: absolute;
    right: 83px;
    top: 37px;
    color: $red;
    pointer-events: none
  }
}

.wish-index-dropdown {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
}

.wish_sport {
  margin: 0px;
}

.wish-form-group {
  z-index: 9999;
  padding-bottom: 0px;
}
