// .footer {
//   background: #F4F4F4;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 100px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: blue;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

.justify-content-between {
  text-decoration: none;
  background-color: #ffffff;
  padding-top: 16px;
}

// .fixed-bottom {
//   position: fixed;
//   background-color: #ffffff;
//   padding-top: 16px;
// }

.fas {
  color: $red;
  font-size: 30px;
}

li a {
  text-align: center;
  display: flex;
  width: 65px;
  height: 65px;
  background: white;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 15px rgba(241,85,85,0.5);
}

ul {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

li p {
  display: block;
  font-size: smaller;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
