.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.fixed-top {
  position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-home {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

#logo {
  text-align: center;
}
